.wrap-page {
    background: #fff;
    max-width: 1170px;
    width: 100%;
    margin: 35px auto;
}
h2 {
    text-align: center;
}
table {
    border: 2px solid black;
}
#gameField table tr td {
    width: 20px;
    height: 20px;
    border:1px dotted green;
    cursor:pointer;
}

#gameField table tr td:hover {
    border:1px solid greenyellow;
}
#gameField, #canvasGameField {
    height: 130px;
    width: 130px;
    margin: 0 auto;
}
.closed {
    background-color : gray;
}
.bomb {
    background-image: url('../img/bomb.png');
}
.red {
    background-color: red;
}
.flag {
    background-image: url('../img/flag1.png');
}